.leaflet-container {
  height: 100%;
  width: 100%;
}

.legend {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.legend-labels {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 800;
}

.legend-title {
  font-weight: bold;
  margin: 0px;
}

.custom-icon {
  font-size: 14px;
  font-weight: 800;
  background: rgba(255, 255, 255, 0.75);
  border: rgba(140, 0, 0, 0.5) 1.5px solid;
  padding: 8px;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
